{% include "header.html"%}

<body>
    <section class="hero is-primary">
        <div class="hero-body">
                <h1 class="title" align="center">
                   Welcome to IPO (US Stocks) finder App !!
                    <br>

                </h1>

                <h1 class="title" align="center">

                    Click on the companies to see their performance since IPO
                </h1>
        </div>
    </section>

<br>
<br>


 <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-5">
             {% if ipo_dict %}
                {% for key, value in ipo_dict.items() %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">

                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title"><a href="{{ url_for('ipo_stock_details', name=key) }}"> {{ key }} </a></span>
                                    <br>
                                    <span class="subtitle">Started trading on: {{ value }}</span>

                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}
              {% endif %}
            </div>
        </div>
    </div>


</body>
</html>